@model IEnumerable<OdeTofood.Data.Modals.Restaurant>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h5>ASP.NET</h5>
    <h2>There are @Model.Count() number of restaurants int the db</h2>
</div>
